:root {
  --background: #ffffff;
  --foreground: #171717;
  --buttonBg: red;
}
.login-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 35rem;
}
.login-grid {
  border: 1px solid #000000;
  width: 20rem;
  height: 26rem;
  justify-content: center;
  display: grid;
  grid-template-rows: auto auto auto auto auto;
  grid-row-gap: 20px;
  row-gap: 10px;
  padding: 10px;
  border-radius: 11px;
}
.login-icon {
  justify-self: center;
}
.input-text {
  width: 17rem;
  height: 2rem;
  font-size: 20px;
  border-radius: 4px;
}
.register-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 40rem;
}
.register-grid {
  border: 1px solid gray;
  width: 20rem;
  height: 30rem;
  display: grid;
  grid-template-rows: auto auto auto auto auto;
  row-gap: 20px;
}

.add_task_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.add_task_grid {
  display: grid;
  grid-template-rows: auto auto auto;
  border: 1px solid gray;
  width: 20rem;
  height: 14rem;
  row-gap: 10px;
  border-radius: 2px;
  padding: 20px;
  background-color: #eaefef;
}
.task_input_title {
  height: 2rem;
  width: 20rem;
  font-size: 22px;
}
textarea {
  resize: none;
  resize: none;
  width: 20rem;
  height: 8rem;
  font-size: 20px;
}
.task_list_grid {
  display: grid;
  grid-template-rows: auto auto 35px;
  row-gap: 10px;
  border-radius: 2px;
  background-color: #ecfae5;
  border: 1px solid #eaebd0;
  width: 18rem;
  height: 20rem;
  overflow: none;
  margin: 10px 20px;
}
.scroll-container {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scroll-container::-webkit-scrollbar {
  display: none;
}
.icon {
  font-size: 60px;
  color: #0065f8;
}
